@import url(nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 135px;
    background: rgb(249, 247, 244);
}

.hero {
    background: url(pic/other/header-img.png) no-repeat center/cover;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
}

.nav {
    display: flex;
    width: 1168px;
    justify-content: space-between;
}

.nav__container {
    display: flex;
    width: 468px;
    height: 28px;
    gap: 50px;
}

.nav__container_link {
    color: #fff;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.nav__text {
    color: #fff;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.nav__container_link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 119px 0px;
} 

.hero__title {
    color: #fff;
    font: 700 96px/109% Roboto;
    text-align: center;
    width: 768px;
    
}

.hero__description {
    color: #fff;
    font: 400 20px/142% Roboto;
    text-align: left;
    width: 562px;
    text-align: center;
    
}

.button_find {
    border-radius: 10px;
    background: #fff;
    width: 118px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1B1F2B;
    font: 400 17px/142% Roboto;
    letter-spacing: -1%;
    text-align: center;
}

.button_find:hover {
    background: rgb(239, 165, 1);
    color: #fff;
}

.button_find:active {
    background: rgb(248, 230, 190);
    color: #1B1F2B;
}

.selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.tab__bar {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    gap: 30px;
    width: 700px;

}

.tab__link {
    color: #1B1F2B;
    font: 700 23px/122% Roboto;
    text-align: center;
}

.tab__link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.tab__active-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tab__link--active {
    color: #EFA501;
    font: 700 23px/122% Roboto;
    text-align: center;
}

.tab__active-line {
    border: 1px solid rgb(239, 165, 1);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1170px;
}

.card-list__item {
    border-radius: 50px;
    width: 370px;
    height: 531px;
}

.card-list__container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.4));
    border-radius: 50px;
    width: 370px;
    height: 531px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-list__top {
    padding: 50px 50px 0 50px;
}

.card-list__bottom {
    padding: 0 50px 50px 30px;
}


#card1 {
    background: url(pic/card/photo-1.jpg) no-repeat center/cover;
}

#card2 {
    background: url(pic/card/photo-2.jpg) no-repeat center/cover;
}

#card3 {
    background: url(pic/card/photo-3.png) no-repeat center/cover;
}

#card4 {
    background: url(pic/card/photo-4.jpg) no-repeat center/cover;
}

#card5 {
    background: url(pic/card/photo-5.jpg) no-repeat center/cover;
}

#card6 {
    background: url(pic/card/photo-6.jpg) no-repeat center/cover;
}

.card-list__title {
    color: #FFF;
    font: 500 35px/122% Roboto;
    text-align: left;
}

.card-list__price {
    color: #FFF;
    font: 400 17px/142% Roboto;
    text-align: left;
    margin-top: 16px;
}

.details {
    width: 199px;
    height: 42px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.details:hover {

    background: rgb(40, 101, 98);
}

.details:active {
    background: rgb(239, 165, 1);
}

.details-link {
    color: #FFF;
    font: 700 23px/122% Roboto;
    text-align: left;
}

.selector__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector__title {
    color: #1B1F2B;
    font: 700 59px/124% Roboto;
    text-align: center;
}

.selector__subtitle {
    width: 408px;
    height: 56px;
    color: #A6A6A6;
    font: 400 20px/142% Roboto;
    text-align: center;
    margin-top: 30px;
}


.selector__form {
    border-radius: 50px;
    background: rgb(255, 255, 255);
    width: 1170px;
    height: 986px;
    padding: 70px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.form__row {
    display: flex;
    text-align: center;
    gap: 30px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__label {
    color: #1B1F2B;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.form__input {
    box-sizing: border-box;
    border: 1px solid rgb(244, 240, 233);
    border-radius: 10px;
    background: rgb(249, 247, 244);
    width: 500px;
    height: 68px;
    padding: 20px;
    color: #A6A6A6;
    font: 400 20px/142% Roboto;
    text-align: left;
}

#comment {
    box-sizing: border-box;
    border: 1px solid rgb(244, 240, 233);
    border-radius: 10px;
    background: rgb(249, 247, 244);
    width: 1030px;
    height: 152px;
    padding: 20px;
    color: #A6A6A6;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.form__age-check {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__radio-group {
    gap: 30px;
    display: flex;
}

.form__radio {
    width: 26px;
    height: 26px;
    background: rgb(27, 31, 43);
}

.form__radio-option {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.form__agreement {
    display: flex;
    gap: 20px;
}

#agreement {
    width: 26px;
    height: 26px;
    background: rgb(27, 31, 43);

}

.form__agreement-text {
    color: #A6A6A6;
    font: 400 17px/142% Roboto;
    text-align: left;
}

.link {
    color: black;
}

.link:hover {
    text-decoration-line: underline;
}

.link:active {
    color: rgb(40, 101, 98);
}

.form__buttons {
    display: flex;
    gap: 30px;
}

#form__button--submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 58px;
    border-radius: 10px;
    background: rgb(40, 101, 98);
    color: #FFF;
    font: 400 20px/142% Roboto;
    text-align: left;
}

#form__button--submit:hover {
    background: rgb(59, 126, 123);
}

#form__button--submit:active {
    background: rgb(98, 127, 126);
}


#form__button--reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 58px;
    border-radius: 10px;
    background: rgb(224, 240, 229);
    color: #286562;
    font: 400 20px/142% Roboto;
    text-align: left;
}

#form__button--reset:hover {
    background: rgb(241, 243, 242);
}

#form__button--reset:active {
    background: rgb(217, 223, 219);
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.feedback__item {
    border-radius: 50px;
    background: rgb(244, 240, 233);
    width: 570px;
    height: 673px;
}

.feedback__content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.feedback__text {
    color: #1B1F2B;
    font: 700 23px/122% Roboto;
    text-align: left;
}

.feedback__user {
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
}

.feedback__user-name {
    color: #1B1F2B;
    font: 500 35px/122% Roboto;
    text-align: left;
}

.feedback__tour {
    color: #A6A6A6;
    font: 400 17px/142% Roboto;
    text-align: left;
}

.feedback__photo {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 30px;
}

.gallery__row--short {
    width: 100%;
    height: 301px;
    display: flex;
    gap: 30px;
}

.gallery__row--short>* {
    flex: auto;
    min-width: 0;
}


.gallery__image1 {
    border-radius: 50px;
    width: 100%;
    height: 301px;
}

.gallery__row--long {
    width: 100%;
    height: 301px;
    display: flex;
    gap: 30px;
}

.gallery__row--long>* {
    flex: auto;
    min-width: 0;
}

.gallery__image2 {
    border-radius: 50px;
    width: 100%;
    height: 301px;
    flex-shrink: 3px;
}

.story {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.story__item {
    width: 1170px;
    height: 567px;
    border-radius: 50px;
}

#story1 {
    background: url(pic/story/story-photo-1.jpeg) no-repeat center/cover;
}

#story2 {
    background: url(pic/story/story-photo-2.jpeg) no-repeat center/cover;
}

#story3 {
    background: url(pic/story/story-photo-3.jpeg) no-repeat center/cover;
}

.story__content {
    background: linear-gradient(270.00deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story__top {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 60px 60px 0 60px;
}

.story__title {
    color: #FFF;
    font: 500 35px/122% Roboto;
    text-align: left;
}

.story__text {
    color: #FFF;
    font: 400 20px/142% Roboto;
    text-align: left;
    width: 554px;
}

.story__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 60px 40px;
}

.story__social {
    display: flex;
    gap: 35px;
}

.story__social-link {
    color: #FFF;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.story__social-link:hover {
    text-decoration: underline;
}

.story__social-link:active {
    color: rgb(239, 165, 1);
}

.story__list li {
    color: #FFF;
    font: 400 20px/142% Roboto;
    text-align: left;
    width: 554px;
    list-style: disc;
    margin-left: 22px;
}

.cta {
    display: flex;
    align-items: center;
    width: 771px;
    height: 370px;
    gap: 30px;
}

.cta__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.cta__title {
    color: #1B1F2B;
    font: 500 35px/122% Roboto;
    text-align: left;
}

.cta__text {
    color: #A6A6A6;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.cta__image {
    width: 370px;
    height: 370px;
    border-radius: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    background: rgb(244, 240, 233);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 1168px;
    height: 28px;
}

.footer__heading {
    color: #A6A6A6;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.footer__social {
    display: flex;
    gap: 25px;
}

.footer__social-link {
    display: flex;
    gap: 10px;
}

.footer__social-name {
    color: #1B1F2B;
    font: 400 20px/142% Roboto;
    text-align: left;
}

.footer__social-name:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width: 1024px) {

.nav {
    width: 910px;
}

.nav__container {
    width: 408px;
    gap: 30px;
}

.selector__form {
    width: 918px;
    height: 955px;
}

.form__input {
    width: 389px;
}

#comment {
    width: 798px;
}

.feedback__item {
    width: 450px;
    height: 841px;
}

.image__disappears_1024 {
    display: none;
}

.gallery {
    gap: 20px;
    padding: 0px 20px;
}

.gallery__row--short {
    gap: 20px;
}

.gallery__row--long {
    gap: 20px;
}

.story__item {
    width: 918px;
}

.footer__content {
    width: 918px;
}

}

@media screen and (max-width: 360px) { 

.main {
    gap: 75px;
}

.nav__container {
    display: none;
}

.logo {
    width: 133px;
    height: 22px;
}

.nav {
    width: 320px;
}

.nav__text {
    font: 400 16px/142% Roboto;
    text-align: left;
}

.hero__title {
    font: 700 34px/112% Roboto;
    text-align: center;
    width: 360px;
}

.hero__description {
    font: 400 16px/142% Roboto;
    text-align: center;
    width: 310px;
}


.hero__text {
    padding: 52px 0px;
    gap: 40px;
    height: 100%;
}

.selector__title {
    font:700 34px/112% Roboto;
}

.tab__bar {
    width: 257px;
    height: 56px;
    gap: 10px;
    flex-wrap: wrap;
}

.tab__link {
    font:700 16px/142% Roboto;
}

.tab__link--active {
    font:700 16px/142% Roboto;
}

.selector {
    gap: 40px;
}

.card-list {
    gap: 18px;
}

.card-list__item {
    width: 318px;
    height: 318px;
    border-radius: 20px;
}

.card-list__container {
    width: 318px;
    height: 318px;
    border-radius: 20px;
}

.card-list__top {
    padding: 25px 25px 0 25px;
}

.card-list__bottom {
    padding: 0 25px 25px 25px;
}

.card-list__title {
    font:700 23px/120% Roboto;
}

.card-list__price {
    color:#fff;
    font:400 16px/142
}

.selector__subtitle {
    width: 318px;
    font:400 16px/142% Roboto;
    text-align:center;
    margin-top: 20px;
}

.form__label {
    font:400 16px/142% Roboto;
}

.selector__form {
    width: 318px;
    height: 1110px;
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
}

.form__input {
    width: 278px;
    height: 43px;
}

.form__row {
    display: flex;
    flex-direction: column  ;
}

.form__agreement-text {
    font:400 16px/142% Roboto;
}

#comment {
    width: 278px;
    height: 132px;
}

#form__button--submit {
    width: 134px;
    height: 47px;
    color:#fff;
    font:400 16px/142% Roboto;
}

#form__button--reset {
    width: 134px;
    height: 47px;
    color: rgb(40, 101, 98);
    font:400 16px/142% Roboto;
}

.form__buttons {
    gap: 10px;
}

.feedback {
    flex-direction: column;
}

.feedback__item {
    width: 318px;
    min-height: 408px;
    max-height: 592px;
    border-radius: 20px;
}

.feedback__content {
    padding: 20px;
    
}

.feedback__text {
    font:700 16px/142% Roboto;
}

.feedback__user-name {
    font:700 23px/120% Roboto;
}

.feedback__tour {
    font:400 16px/142% Roboto;
}

.image__disappears_360 {
    display: none;
}

.gallery__image1 {
    max-width: 150px;
    height: 110px;
    border-radius: 20px;
}

.gallery__image2 {
    max-width: 100px;
    height: 110px;
    border-radius: 20px;
}

.gallery__row--short {
    gap: 18px;
    height: 100%;
}

.gallery__row--long {
    gap: 10px;
    height: 100%;
}

.story {
    gap: 20px;
}

.story__item {
    width: 318px;
    height: 455px;
}

.story__title {
    font:700 23px/120% Roboto;
    width: 240px;
}

.story__text {
    font:400 16px/142% Roboto;
    width: 263px;
    height: 100%;
}

.story__social {
    display: none;
}

.story__top {
    gap: 20px;
    padding: 30px 30px 0 30px;
}

.story__bottom {
    padding: 0 30px 30px 30px;
}

.details {
    width: 123px;
    height: 26px;
}

.details-link {
    font:700 16px/142% Roboto;
}

.details-arrow {
    width: 22px;
    height: 15px;
}

.cta {
    width: 360px;
    height: 285px;
    flex-direction: column;
}

.cta__image {
    width: 130px;
    height: 133px;
    border-radius: 20px;
}

.cta__title {
    font:700 23px/120% Roboto;
    text-align:center;
    width: 291px;
}

.cta__text {
    font:400 16px/142% Roboto;
    text-align:center;
    width: 291px;
}

.cta__content {
    align-items: center;
}

.footer__heading {
    width: 177px;
    font:400 16px/142% Roboto;
}

.footer__social_icon {
    width: 17.87px;
    height: 16.05px;
}

.footer__social {
    width: 308px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.footer__social-name {
    font:400 16px/142% Roboto;
}

.footer__social-link {
    gap: 5px;
}

.footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

}